<ion-header>
  <ion-toolbar>
    <ion-title>Nosotros</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>


  <div id="container">
    <ion-card mode="ios" color="primary">
      <ion-card-header>
        <ion-card-subtitle>Equipo</ion-card-subtitle>
        <ion-card-title>Paula Cortés</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        Estudiante de ingeneria en informatica de la sede de San Joaquin
      </ion-card-content>
    </ion-card>

  
      <ion-card mode="ios" color="primary">
        <ion-card-header>
          <ion-card-subtitle>Equipo</ion-card-subtitle>
          <ion-card-title>Ricardo Miranda</ion-card-title>
        </ion-card-header>
        <ion-card-content>
      Estudiante de ingeneria en informatica de la sede de San Joaquin
        </ion-card-content>
      </ion-card>
  </div>


</ion-header>
<ion-content>
</ion-content>
