<ion-header>
  <ion-toolbar>
    <ion-title>Nosotros</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <div id="container">
    <ion-card>
      <ion-card-header>
<ion-title>Equipo</ion-title>
      </ion-card-header>
      <ion-img src="https://www.pngitem.com/pimgs/m/22-220721_circled-user-male-type-user-colorful-icon-png.png"></ion-img>
      <ion-card-content>
          <p>Nombre:</p>
          <p>Carrera:</p>
          <p>Instituto:</p>
      </ion-card-content>
    </ion-card>  
    <ion-card>
      <ion-card-header>
<ion-title>Equipo</ion-title>
      </ion-card-header>
      <ion-img src="https://www.pngkit.com/png/full/115-1150342_user-avatar-icon-iconos-de-mujeres-a-color.png"></ion-img>
      <ion-card-content>
          <p>Nombre:</p>
          <p>Carrera:</p>
          <p>Instituto:</p>
      </ion-card-content>
    </ion-card> 


  </div>


</ion-header>
<ion-content>
</ion-content>
