<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card mode="ios" color="primary">
    <ion-item>
      <ion-icon :icon="log-in-outline" slot="start"></ion-icon>
      <ion-label>CODIGO</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      Haz click 
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios" color="primary">
    <ion-item>
      <ion-icon :icon="log-in-outline" slot="start"></ion-icon>
      <ion-label>CODIGO</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      Haz click 
    </ion-card-content>
  </ion-card>


</ion-header>

<ion-content>

</ion-content>
